/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background:
    linear-gradient(
       rgba(0, 0, 0, 0.802),rgba(0, 0, 0, 0.728)
    ),
    url('./assets/bg.jpg') no-repeat;
    background-attachment: fixed;

  @media screen and (min-width: 1900px) {
    background-size: 150%;
  }
  @media screen and (max-width: 768px) {
    background-position: -200px;
  }
}

body {
  font-family: 'Josefin Sans', sans-serif!important;
}
