.logo {
  width: 40%;
}

.mg-bt {
  margin-bottom: 40px;
}

.card {
  width: 6%;
  margin-left: -50px;
}

.deck {
  cursor: pointer;
  margin-top: 2%;
  padding-left: 50px;
}

.deck:hover {
  padding: 10px 10px 10px 60px;
}

.btn {
  margin-top: 12%;
}

.center {
  text-align: center;
}

@keyframes MyAnimation {
    0% {
      padding-left: 50px;
    }
    100% {
      padding-left: 0px;
    } 
  }
  
  .my-animation {
    animation: MyAnimation 1s;
  }